body {
  padding-top: 75px;
}

.hero-unit {
  min-height: 400px;
}

#chart-container {
  margin-bottom: 25px;
}

#embed {
  width: 100%;
  cursor: pointer;
}

.username-field {
  font-size: 18pt;
}

.slice text {
  fill: #fff;
}  
